body{
    background-color: rgb(245,250,238);

}

.BarraSuperior{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgb(63,220,114);
    color:black;
    display:flex;
    padding: 10px;
    grid-gap: 5px 8px;
    font-size: 20px;

    a{
        width: 50%;
    }
}

.BarraMeio{
    position: absolute;
    width: 50%;
    height: 83.5%;   
    top: 54%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #ffffff;

    a{
        position: relative;
        top: 25%;
        left: 30%;
        width: 50%;
        font-size: 20px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    h2{
        position: relative;
        top: 3%;
        left: 36.8%;
        color: rgb(0,78,8);
        font-size: 35px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    p{
        position: relative;
        width: 50%;
        top: 5%;
        left: 15%;
        font-size: 23px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    input{
        position: relative;
        top:-5%;
        left: 47.5%;
        width: 55%;
        height: 35px;
        margin: -20%;
        border-radius: 5px;
        border: 0;
        padding-left: 8px;
        background-color: rgb(245,245,245);
        box-shadow: 0px 9px 6px 4px rgb(206, 197, 197);
        outline: 0;
    }

    button{
        position: absolute;
        left: 50%;
        top: 72%;
        width: 70%;
        height: 50px;
        transform: translate(-50%);
        border: 0;
        border-radius: 15px;
        font-size: 25px;
        background-color: #00ff73;
    }
    
}

.BarraInferior{
    position: absolute;
    width: 100%;
    left: 0;
    top: 95%;
    background-color: rgb(63,220,114);
    color: white;
    align-items: center;
    
}