button{
    background-color: rgb(0,201,153);
    border-radius: 5px;
}

.Form{
    position: absolute;
    top: 52.4%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 50%;
    height: 80%;
    

    h2{ 
        position: relative;
        left: 43%;
        top: 10%;
        color: rgb(0,78,8);
    }

    form{
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 60%;
        height: 30%;
                
        label{
            position: relative;
            left: 5%;
            text-shadow: -3px 3px 2px rgb(208, 201, 201);
        }

        input{
            position: relative;
            left: 6%;
            margin: 10px;
            margin-right: 15px;
            width: 70%;
            height: 30px;
            border-radius: 5px;
            border: 0;
            padding-left: 8px;
            background-color: rgb(245,245,245);
            box-shadow: 2px 2px 2px 1px rgb(206, 197, 197);
            outline: 0;
        }

        input:hover{
            left: 5%;
            width: 73%;
            height: 30px;
        }
        button{
            background-color: rgb(0,201,153);
            position: absolute;
            left: 50%;
            top: 90%;
            width: 90%;
            height: 30px;
            transform: translate(-50%);
            border: 0;
            border-radius: 5px;
            font-size: medium;
        }

        button:hover{
            background-color: rgb(2, 160, 123);
            width: 95%;
            height: 32px;
            font-size: large;
            font-weight: bold;
        }
    }

}

.baixo{
    position: absolute;
    top: 73%;
    width: 100%;
    
    p{
        position: inherit;
        left: 50%;
    }
    button{
        position: absolute;
        left: 80%;
        top: 130%;
        width: 100px;
        height: 25px;
        border-radius: 10px;
        border: 0;
    }
    hr{
        width: 80%;
    }
    button:hover{
        width: 17%;
        left: 79%;
        height: 75%;
        top: 130%;
        font-size: 0.9rem;
        font-weight: bold;
    }
}
