body{
    background-color: rgb(245,250,238);
    font-family: sans-serif;
}
button{
    background-color: rgb(0,201,153);
    border-radius: 5px;
}

.BarraSuperior{
    position: absolute;
    width: 98.5%;
    left: 0;
    top: 0;
    background-color: rgb(63,220,114);
    color:black;
    display:flex;
    padding: 10px;
    grid-gap: 5px 8px;
    font-size: 20px;
    
    img{
        width: 70px;
    }
}

.Form{
    position: absolute;
    top: 52.4%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 50%;
    height: 77%;
    

    h2{ 
        position: relative;
        left: 43%;
        top: 10%;
        color: rgb(0,78,8);
    }

    form{
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 60%;
        height: 30%;
                
        label{
            position: relative;
            left: 5%;
            text-shadow: -3px 3px 2px rgb(208, 201, 201);
        }

        input{
            position: relative;
            left: 6%;
            margin: 10px;
            margin-right: 15px;
            width: 70%;
            height: 30px;
            border-radius: 5px;
            border: 0;
            padding-left: 8px;
            background-color: rgb(245,245,245);
            box-shadow: 2px 2px 2px 1px rgb(206, 197, 197);
            outline: 0;
        }

        button{
            background-color: rgb(0,201,153);
            position: absolute;
            left: 50%;
            top: 90%;
            width: 90%;
            height: 30px;
            transform: translate(-50%);
            border: 0;
            border-radius: 5px;
            font-size: medium;
        }
    }

}

.baixo{
    position: absolute;
    top: 73%;
    width: 100%;
    
    p{
        position: inherit;
        left: 50%;
    }
    button{
        position: absolute;
        left: 80%;
        top: 130%;
        width: 100px;
        height: 25px;
        border-radius: 10px;
        border: 0;
    }
    hr{
        width: 80%;
    }
}
.BarraInferior{
    position: absolute;
    width: 100%;
    left: 0;
    top: 92%;
    background-color: rgb(63,220,114);
    color: white;
    display: flex;  
    p{
        position: relative;
        left: 71%;
    }

    img{
        position: relative;
        left: 73%;
        top: 13px;
        width: 25px;
        height: 25px;
        padding: 0.2%;
    }
    img:last-of-type{
        width: 40px;
    }
}   