.conteudo{
    position: absolute;
    width: 100%;
    height: 100%;

    .tituloLivro{
        position: absolute;
        top: 10%;
        left: 30%;
    }

    .imgLivro{
        position: absolute;
        left: 15%;
        top: 25%;
        width: 35%;
    }

    .tabela{
        border-radius: 7%;
        position: absolute;
        left: 65%;
        top: 15%;
        width: 25%;
        height: 55%;
        background-color: white;
        border: 50px;
        p{
            font-size: 13px;
        }

        .topo{
            position: relative;
            top: 0%;
            left: 20%;
            width: 70%;
            p{
                padding-top: 4%;
            }
        }

        .pagamentos{
            
            left: 10%;
            position: absolute;
            top: 60%;
            width: 60%;
            height: 20%;

            p{
                position: relative;
                padding-top: 5%;
                top: -130%;
                left: 25%;
            }
            img{
                display: block;
                width: 20%;
            }
        }

        button{
            left: 12%;
            top: 85%;
            border: 0;
            border-radius: 0;
            width: 250px;
            height: 30px;
            background-color: rgb(31,160,233);
            color: white;
            font-size: 20px;
        }
    }

    .entrega{
        position: absolute;
        display: flex;
        top: 73%;
        left: 60%;
        width: 35%;

        p{
            font-size: 85%;
        }

        input{
            position: absolute;
            left: 25%;
            top: 13%;
            width: 45%;
            height: 60%;
            border: 100%;
        }
        button{
            position: absolute;
            left: 74%;
            top: 13%;
            width: 120px;
            height: 75%;
            border-radius: 0;
            background-color: rgb(85,146,238);
            color: white;
            font-size: 18px;
        }
    }
}

