.conteudo{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 90%;
    button{
        position: absolute;
        top: 43.5%;
        width: 80px;
        height: 80px;
        border: 0;
        border-radius: 100%;
        background-color: white;
    }
    .esquerda{
        left: 3.3%;
    }
    .direita{
        left: 90%;
    }
    .setaEsquerda{
        position: absolute;
        top: 25%;
        left: 30%;
        padding: 20px;
        box-shadow: 10.5px -10.5px 0px 0px rgb(5,161,2) inset;
        border: solid transparent;
        border-width: 0 0 2px 2px;
        transform: rotate(45deg);
      }

      .setaDireita{
          position: absolute;
          top: 25%;
          left: 21%;
          padding: 20px;
          box-shadow: 10.5px -10.5px 0px 0px rgb(5,161,2) inset;
          border: solid transparent;
          border-width: 0 0 2px 2px;
          transform: rotate(225deg);
      }


    .blocoLivros{
        
        position: relative;
        top: 20%;
        left: 12%;
        width: 77%;
        display: flex;
        flex-direction: row;
        .separador{
            width: 7%;
            background-color: rgb(245,250,238);
        }
        .livro{
            background-color: rgb(63,220,114);
            position: relative;
            width: 80rem;
            height: 390px;
            left: 0%;
            border-radius: 10%;
            padding-left: 5%;
            h3{
                position: absolute;
                top: 5%;
                left: 50%;
                
                transform: translate(-50%, -50%);
                font-size: 1.5rem;
                word-break: break-all;
            }
            .texto{
            position: absolute;
            top: 18%;
            left: 10%;
            width: 80%;
            height: 40%;
            display: flex;
                p{
                    text-align: justify;
                    word-break: break-all;
                    color: white;
                }
            }
            img{
                width: 55%;
                position: absolute;
                top: 72%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
            button{
                top: 87%;
                left: 30%;
                width: 40%;
                height: 9%;
                border-radius: 15px;
                font-size: 18px;
                color: rgb(5,161,2);
            }
        }
    }
}